<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>visualDisplayDebug</key>
	<false/>
	<key>visualUseCurves</key>
	<false/>
	<key>useInternalWebView</key>
	<true/>
	<key>textSize</key>
	<integer>14</integer>
	<key>exitOnLastClose</key>
	<true/>
</dict>
</plist>
